.dashboard-container {
  width: 250px;
}
.dashboard-container > div {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 18px 27px;
  gap: 20px;
  color: #485572;
}
.dashboard-container > div > p {
  letter-spacing: 1px;
  margin-top: 13px;
}
.dashboard-main {
  background: #f7f1f3;

  box-shadow: 2px 0px 0px #811434;
}
.dashboard-main > p {
  color: #811434;
}
